@{
    ViewData["Title"] = "Skill Issue Bro";
}



<div class="text-center">
    <h1 class="display-1">Skill Issue Bro</h1>
    <p>Try not to get mad</p>
    <div class="mt-5">
        <img src="~/table.jpg" width="500px" alt="Table" />
    </div>
</div>
