@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome to GameWorld</h1>

    <div class="list-group mt-5">
        <a href="/HarvestHaven" class="list-group-item list-group-item-action">
            <h2 class="display-6">Harvest Haven</h2>
        </a>
        <a href="/SkillIssueBro" class="list-group-item list-group-item-action">
            <h2 class="display-6">Skill Issue Bro</h2>
        </a>
        <a href="/Connect4" class="list-group-item list-group-item-action">
            <h2 class="display-6">Connect4</h2>
        </a>
        <a href="/ObstructionGame" class="list-group-item list-group-item-action">
            <h2 class="display-6">Obstruction Game</h2>
        </a>
    </div>

</div>
