@{
    ViewData["Title"] = "Harvest Haven";
}

<div class="text-center">
    <h1 class="display-1">Welcome to Harvest Haven</h1>
    <p>Your adventure begins here.</p>
    <div class="mt-5">
        <img src="~/farm.jpg" width="700px" alt="Table" />
    </div>
</div>
